{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% block title %}Back Administrator Panel{% endblock %}

{% block body %}
    <a href="{{ path('PFCDTourismBundle_back_organization_create') }}">Add new organization!</a>
{% endblock %}