.tourism-notice {
    background: none repeat scroll 0 0 #DFF2BF;
    border: 1px solid;
    color: #4F8A10;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
form.tourism {
    font-size: 16px;
}
form.tourism div {
    clear: left;
    margin-bottom: 10px;
}
form.tourism label {
    float: left;
    font-weight: bold;
    margin-right: 10px;
    padding-top: 5px;
    text-align: right;
    vertical-align: top;
    width: 100px;
}
form.tourism input[type="text"], form.tourism input[type="email"] {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    min-height: 20px;
    padding: 2px 4px;
    width: 500px;
}
form.tourism textarea {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 150px;
    line-height: 20px;
    padding: 2px 4px;
    width: 500px;
}
form.tourism input[type="submit"] {
    font-size: 20px;
    line-height: 26px;
    margin-left: 110px;
    min-height: 26px;
    width: 508px;
}
form.tourism ul li {
    color: #FF0000;
    margin-bottom: 5px;
}