<p>The {{ domain_name }} team is not responsible for the possible loss of information caused by contingencies beyond our control</p>

<p>The information provided by the organization will not be distributed or sold to third companies</p>

<p>The organization will have access to the users information but in no case may distribute or sell to other companies</p>
