<p>El equipo de {{ domain_name }} no es responsable de la posible pérdida de información causada por imprevistos ajenos a nuestro control</p>

<p>La información requerida y almacenada no será distribuida o vendida a terceras empresas</p>

<p>Las organizaciones tendrá acceso a la información de los usuarios pero en ningún caso podrán distribuirla o venderla a terceras empresas</p>

