<p>The {{domain_name}} team shall in no way responsible for the misdeeds of both users and organizations</p>

<p>Each user will be legally responsible for the proper payment of the activities offered as well as some possible cancellation penalty if the organization indicates on that way</p>

<p>Our team may act as mediator only providing the necessary data available that can solve a conflict between user and organization</p>