<p>The {{ domain_name }} team shall in no way responsible for the misdeeds of both users and organizations</p>

<p>Each organization will be legally responsible for the proper conduct of the activities offered and of their collection of payments or refund</p>

<p>Our team may act as mediator only providing the necessary data available that can solve a conflict between user and organization</p>