<p>El equipo de {{ domain_name }} no será en ningún caso responsable de las malas acciones tanto de los usuarios como de las organizaciones</p>

<p>Cada usuario será legalmente responsable del correcto pago de las actividades ofertadas así como de alguna posible penalización por cancelación en caso de indicarlo la organización</p>

<p>Nuestro equipo podrá actuar únicamente como mediador proporcionando los datos disponibles que puedan solucionar algún conflicto entre usuario y organización</p>
