<p>El equipo de {{ domain_name }} no será en ningún caso responsable de las malas acciones tanto de los usuarios como de las organizaciones</p>

<p>Cada organización será legalmente responsable de la correcta realización de las actividades ofertadas así como de su cobro o devolución del importe en caso de indicarlo</p>

<p>Nuestro equipo podrá actuar únicamente como mediador proporcionando los datos disponibles que puedan solucionar algún conflicto entre usuario y organización</p>
