{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% block title %}Modify details of the Organization{% endblock %}

{% block body %}
    <header>
        <h1>Modify details</h1>
    </header>

    {% if app.session.hasFlash('back-notice') %}
        <div class="back-notice">
            {{ app.session.flash('back-notice') }}
        </div>
    {% endif %}

    <p>Edit the form to create a new organization</p>

    <form action="{{ path('PFCDTourismBundle_back_organization_update', { 'id': org.id }) }}" method="post" {{ form_enctype(form) }} class="tourism">
        {{ form_widget(form) }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}