{% extends 'PFCDTourismBundle:Admin:layout.html.twig' %}

{% block title %}Super Administrator Panel{% endblock %}

{% block container %}
    <div class="span4 offset4">
        {% if error %}
            <div class="alert alert-error fade in">
                <button class="close" data-dismiss="alert">×</button>
                {{ error.message }}
            </div>
        {% endif %}
        <form id="login" class="well form-horizontal" action="{{ path('admin_login_check') }}" method="post">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="username">Username:</label>
                    <div class="controls">
                        <input name="_username" type="text" placeholder="username" required="required" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Password:</label>
                    <div class="controls">
                        <input name="_password" type="password" placeholder="password" required="required" />
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit"><i class="icon-user icon-white"></i> Login</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}