/******************************************************************************/
/***** SPECIFIC STYLES TO OVERRIDE BOOTSTRAP.CSS ******************************/
/******************************************************************************/

html {
    overflow-y: scroll;
}

body {
/*    background-image: url('../img/background.jpg');*/
}

.container.main {
    background-color: #ffffff;
    padding: 60px 20px 20px 20px;
}

.logo {
    padding: 4px 8px;
}

.footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 45px;
    padding-top: 25px;
    text-align: center;
}

.alert {
    font-weight: bold;
}

.controls .alert {
    margin-bottom: 0px;
    margin-top: 5px;
}

.alert ul, .alert ol {
    margin: 0 0 0 10px;
}

.form-actions {
    margin-bottom: 0px;
}

#login {
    margin-top: 20px;
}

#login.form-horizontal .control-label {
    width: 80px;
}

#login.form-horizontal .controls {
    margin-left: 100px;
}

#login.form-horizontal .form-actions {
    padding-left: 100px;
}

textarea {
    height: 100px;
}

.table tbody tr.status-0 td {
  background-color: #fffff0;
}

.table tbody tr.status-0:hover td {
  background-color: #ffffe0;
}

.table tbody tr.status-1 td {
  background-color: #f5fff5;
}

.table tbody tr.status-1:hover td {
  background-color: #f0fff0;
}

.table tbody tr.status-2 td {
  background-color: #f9f9f9;
}

.table tbody tr.status-2:hover td {
  background-color: #f5f5f5;
}

.table tbody tr.status-3 td {
  background-color: #fff5f5;
}

.table tbody tr.status-3:hover td {
  background-color: #fff0f0;
}

/* Fix navbar for small tablets and smartphones */
@media (max-width: 767px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 100%;
    }
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    font-weight: bold;
}

.nav-tabs > li > a {
    padding-left: 8px;
    padding-right: 8px;
}

.info-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

.info-title {
    margin-bottom: 10px;
}

.info-video {
    margin-left: 20px;
}

.info-desc p {
    text-align: justify;
}

.info-divisor {
    border-bottom: 1px solid #eeeeee;
}

.well.mini {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 9px;
}
