/******************************************************************************/
/***** SPECIFIC STYLES TO OVERRIDE BOOTSTRAP.CSS ******************************/
/******************************************************************************/

html {
    overflow-y: scroll;
}

.container.main {
    padding: 60px 20px 20px 20px;
}

.logo {
    padding: 4px 8px;
}

.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox {
    margin-top: 0px;
}

.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 45px;
    padding-top: 25px;
    text-align: center;
}

.alert {
    font-weight: bold;
}

.controls .alert {
    margin-bottom: 0px;
    margin-top: 5px;
}

.alert ul, .alert ol {
    margin: 0 0 0 10px;
}

.form-actions {
    margin-bottom: 0px;
}

#login {
    margin-top: 20px;
}

#login.form-horizontal .control-label {
    width: 80px;
}

#login.form-horizontal .controls {
    margin-left: 100px;
}

#login.form-horizontal .form-actions {
    padding-left: 100px;
}

textarea {
    height: 100px;
}

.table tbody tr.status-0 td {
  background-color: #fffff0;
}

.table tbody tr.status-0:hover td {
  background-color: #ffffe0;
}

.table tbody tr.status-1 td {
  background-color: #f5fff5;
}

.table tbody tr.status-1:hover td {
  background-color: #f0fff0;
}

.table tbody tr.status-2 td {
  background-color: #f9f9f9;
}

.table tbody tr.status-2:hover td {
  background-color: #f5f5f5;
}

.table tbody tr.status-3 td {
  background-color: #fff5f5;
}

.table tbody tr.status-3:hover td {
  background-color: #fff0f0;
}

.organization-container {
    margin-left: 0;
}

.photo-container {
    margin-left: 0;
}