{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About us</h1>
    </header>
    <article>
        <p>This project want to help organizations to have some incom of money because of blablabla...</p>
    </article>
{% endblock %}