{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block title %}{{ 'About'|trans }}{% endblock%}

{% block body %}
    <header>
        <h1>{{ 'About us'|trans }}</h1>
    </header>
    <article>
        <p>This project want to help organizations to have some incom of money because of blablabla...</p>
    </article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#navbar-tab-about').addClass("active");
    </script>
{% endblock %}