{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block title %}{{ 'About'|trans }}{% endblock%}

{% block body %}
<h1>{{ 'front.about.title'|trans }}</h1>
<p>{{ content|raw }}</p>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#navbar-tab-about').addClass("active");
</script>
{% endblock %}