{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block body %}
<h1>{{ domain_name }}</h1>
<p>{{ content|raw }}</p>
{% endblock %}
    
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    $('#navbar-tab-home').addClass("active");
</script>
{% endblock %}
