{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block body %}
    <h1>Homepage</h1>
    <p>These are the most recent and popular activities offered</p>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $('#navbar-tab-home').addClass("active");
    </script>
{% endblock %}
