{% extends 'PFCDTourismBundle:Front:layout.html.twig' %}

{% block body %}
    {% for org in orgs %}
        <article class="org">
            <header>
                <h2><a href="{{ path('PFCDTourismBundle_front_organization', { 'name': org.username }) }}">{{ org.name }}</a></h2>
            </header>

            <img src="{{ asset(['img/organization-', org.username, '.jpg']|join) }}" alt="logo not found" />
            <div class="snippet">
                <p>{{ org.shortDesc }}</p>
            </div>

            <footer class="meta">
                <p>Locations: -</p>
                <p>Activities: -</p>
                <p>Webpage: -</p>
            </footer>
        </article>
    {% else %}
        <p>There are no organizations in CooperationTourism.com</p>
    {% endfor %}
{% endblock %}