{% extends 'PFCDTourismBundle:Back:layout.html.twig' %}

{% set sectiontab = 'statistic' %}

{% block body %}
<h1>{{ 'back.statistic.title'|trans }}</h1>
<p>{{ 'back.statistic.subtitle'|trans }}</p>

{% endblock %}